<html>
    <head>
        <title>Kahoot Bot</title>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <form class="main-form" method="POST">
            <h1>Kahoot Bot</h1>
            <input type="text" class="txtb" name="pin" placeholder="Pin #">
            <input type="text" placeholder="Base Name" class="txtb" name="base_name">
            <input type="text" placeholder="# Of Bots" class="txtb" name="bot_num">
            <input type="submit" class="submit-btn" value="RUN">
        </form>
    </body>
</html>
